[Unit]
Description=Apache Flink
Documentation=http://flink.apache.org/
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
Environment=JAVA_HOME=/opt/jdk1.8.0_161
User=flink
ExecStart=/ext/flink-1.4.1/bin/start-cluster.sh
ExecStop=/ext/flink-1.4.1/bin/stop-cluster.sh
Restart=on-failure
[Install]
WantedBy=multi-user.target
